<div class="row">
  <div class="col-lg-4">
    <h2>Burgers that are not devoured!</h2>

    <div class="card-group">

      {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block devoured=true}} {{/unless}} {{/each}}

    </div>
  </div>
  <div class="col-lg-4">
    <h2>Burgers that are devoured!</h2>

    <div class="card-group">

      {{#each burgers}} {{#if devoured}} {{> burgers/burger-block devoured=false}} {{/if}} {{/each}}

    </div>
  </div>
  <div class="col-lg-4">
    <h2>Add a Burger</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="bn">Burger Name:</label>
        <input class="form-control" type="text" id="bn" name="name">
      </div>

      <div class="form-group">

        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="devour" id="option1" autocomplete="off" value="1" checked> Devoured
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="devour" id="option2" autocomplete="off" value="0"> Not Devoured
          </label>
        </div>

      </div>

      <button class="btn btn-danger" type="submit">Add Burger</button>
    </form>
  </div>
</div>